<!DOCTYPE html>
<html>

<head>
    <title>Financial Times</title>
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons,o-header@^7.5.7,o-forms@^5.7.0,o-fonts@^3.0.4,o-footer@^6.0.8"
    />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

        if (cutsTheMustard) {
            document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
        }
    </script>
    <style>
        .core .o--if-js,
        .enhanced .o--if-no-js {
            display: none !important;
        }

        html {
            font-family: Georgia, serif;
            overflow-x: hidden;
        }

        body {
            margin: 0;
            background-color: #FFF1E5;
        }
    </style>
    <script src="https://polyfill.io/v2/polyfill.min.js"></script>
    <script>
        (function (src) {
            if (cutsTheMustard) {
                var o = document.createElement('script');
                o.async = o.defer = true;
                o.src = src;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(o, s);
            }
        }('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@^7.5.7,o-forms@^5.7.0,o-fonts@^3.0.4,o-footer@^6.0.8'));
    </script>
</head>

<body>
    <header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
        <div class="o-header__row o-header__top">
            <div class="o-header__container">
                <div class="o-header__top-wrapper">

                    <div class="o-header__top-column o-header__top-column--center">
                        <!--<div class="o-header__top-takeover"></div>-->
                        <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
                            <span class="o-header__visually-hidden">Financial Times</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="main-content">
        <div class="search">
            {{!--
            <form class="o-forms" action="/" method="post" enctype="application/x-www-form-urlencoded">
                <input type="text" id="o-forms-standard" class="o-forms__text" required>
                <button class="o-buttons o-buttons--secondary" type="submit">Submit</button>
            </form> --}}
            <div class="o-header__container">
                <form class="o-header__search-form" action="/" method="post" enctype="application/x-www-form-urlencoded" aria-label="Site search">
                    <label class="o-header__visually-hidden" for="o-header-search-term-js">Search the
                        <abbr title="Financial Times">FT</abbr>
                    </label>
                    <input class="o-header__search-term" name="search" type="text" placeholder="Search the FT">
                    <button class="o-header__search-submit" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="headline">{{heading}}</div>
        <div class="stories">
            {{#if show_results}} {{#each show_results}}
            <div class="storyContent">
                <div class="storyHeader">
                    <a href={{{this.location.uri}}}>{{this.title.title}}</a>
                </div>
                <div class="storyInfo" style="font-family:Metricweb">{{this.editorial.byline}}</div>
                <div class="summary" style="font-family:Metricweb">{{this.summary.excerpt}}</div>
            </div>
            {{/each}} {{else}}
            <p>
                <em>Sorry, We could not return any search results! Please try again.</em>
            </p>
            {{/if}}
        </div>
    </div>
    <div class="pageButtons">
        {{#if page}}
        <form id="prevButton" class="o-header__search-form" action="/previouspage" method="get" enctype="application/x-www-form-urlencoded"
            aria-label="Site search">
            <button class="o-header__search-submit" type="submit">
                Prev. Page
            </button>
        </form>
        {{/if}}
        <form class="o-header__search-form" id="nextButton" action="/nextpage" method="get" enctype="application/x-www-form-urlencoded"
            aria-label="Site search">
            <button class="o-header__search-submit" type="submit">
                Next Page
            </button>
        </form>
    </div>
    <footer class="o-footer o-footer--theme-light" data-o-component="o-footer" data-o-footer--no-js="">
        <div class="o-footer__container">
            <div>
                <ul class="o-footer__legal-links">
                    <li>
                        <a href="http://help.ft.com/help/legal-privacy/terms-conditions/">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="http://help.ft.com/help/legal-privacy/privacy/">Privacy</a>
                    </li>
                    <li>
                        <a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
                    </li>
                    <li>
                        <a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/">Copyright</a>
                    </li>
                </ul>
            </div>
            <div class="o-footer__copyright" role="contentinfo">
                <small>
                    Markets data delayed by at least 15 minutes. &#xA9; THE FINANCIAL TIMES LTD .
                    <abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.
                    <br> The Financial Times and its journalism are subject to a self-regulation regime under the
                    <a href="http://aboutus.ft.com/en-gb/ft-editorial-code/" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
                </small>
            </div>
        </div>
        <div class="o-footer__brand">
            <div class="o-footer__container">
                <div class="o-footer__brand-logo"></div>
            </div>
        </div>
    </footer>
</body>

</html>