
.main-content {
    margin: 0 50px 20px 50px;
}

.headline {
    font-family: Metricweb;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    min-height: 400px;
}

.storyHeader{
    font-family: Financierdisplayweb;
    font-size: 30px;
    margin-bottom: 10px;
    min-height: 65px;
}

.storyHeader:hover{
    color: #736c67;
}

.storyInfo{
    font-family: Metricweb;
    font-size: 15px;
    margin-bottom: 10px;
}

.summary{
    font-family: Metricweb;
    font-size: 15px;
    color: #66605c;
}

.storyContent {
    display: grid;
}

.readLink {
    display: grid;
    font-family: Metricweb;
    font-size: 15px;
    justify-content: right;
    align-content: end;
    padding: 10px 0 10px 0;
}

.search {
    margin: 40px 0 40px 0;
}

.pageButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#prevButton {
    grid-column-start: 1;
    justify-content: center;
}

#nextButton {
    grid-column-start: 3;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1000px) {
    .stories {
        grid-template-columns: 1fr 1fr;
    }

    .pageButtons {
        grid-template-columns: 1fr 1fr;
    }

    #prevButton {
        grid-column-start: 1;
    }
    
    #nextButton {
        grid-column-start: 2;
    }

  }

  @media screen and (max-width: 560px) {
    .stories {
        grid-template-columns: 1fr;
    }

    .main-content {
        margin: 0 15px 20px 15px;
    }

    .pageButtons {
        grid-template-columns: 1fr 1fr;
    }

    #prevButton {
        grid-column-start: 1;
    }
    
    #nextButton {
        grid-column-start: 2;
    }

  }